streamlit
pandas
openpyxl
sqlalchemy
python-dotenv
playwright
beautifulsoup4
httpx
requests
email-validator
phonenumbers
rapidfuzz
apscheduler
loguru
selenium
webdriver-manager
selenium-stealth
undetected-chromedriver
setuptools
groq
lxml
cssselect
feedparser
pg8000
fastapi
uvicorn
python-multipart
google-genai
